@use "../style";

.playlist-add__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: var(--font-color-main);
}

.track-info-songs-wrapper {
  border-radius: 16px;
}

.track-info-songs-wrapper > .songs-wrapper > * {
  background-color: style.$bg-color-secondary;
  //gap: 5px;
  //padding-left: 5px;
  //padding-top: 5px;
  //padding-bottom: 5px;
}

.track-info-songs-wrapper::-webkit-scrollbar {
  display: none;
}