@import 'src/styles/vars';


.track-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px;
  background: rgba(255, 255, 255, 0.03);
  transition: all .3s;
  border-radius: 16px;
  cursor: pointer;

  &:hover .track-playing-status {
    opacity: 1;
    backdrop-filter: blur(0.5px);
  }

  &:not(.track-current):hover {
    background: rgba(255, 255, 255, 0.06);
    transform: translate(5px);
  }

  &:not(.track-current) {
    background-color: transparent;
  }

  &.active {
    transform: none;
  }

  &:hover .track-playing-status {
    opacity: 1;
    backdrop-filter: blur(0.5px);
  }


  @media screen and (max-width: $small) {
      border-radius: 14px;
      padding:2.5px;

    &:not(.track-current):hover {
      transform: none;
      background-color: inherit;
    }

    &:not(.track-current):hover {
      background-color: transparent;
    }

    &:not(.track-current) .track-playing-status{
      display:none;
    }

    &:hover .track-playing-status {
      backdrop-filter: none;
    }

    &:hover .track-playing-status:not(.show) {
      opacity:0;
    }
  }

}

.track-info-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  justify-content: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  overflow: hidden;
  white-space: nowrap;
};

.track-info-artists-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 2px;
}

.track-info-artist-span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-current {
  transform: none;
  background: rgba(255,255,255,0.1);

  &:hover {
    background: rgba(255, 255, 255, 0.12);
    cursor: pointer;
  }
}

.track-cover-wrapper {
  position: relative;
  display: flex;
  align-self: center;
  justify-self: center;
  min-width: 50px;
  height: 50px;
  border-radius: 14px;
  overflow: hidden;
  background-color: var(--bg-color-secondary_hover);
  box-shadow: 0 0 5px 3px rgba(44, 44, 44, 0.2);

  @media screen and (max-width: $small) {
    min-width: 50px;
    height: 50px;
    border-radius: 12px;
  }
}

.track-info-title {
  font-size: 14px;
}






