@import '../../styles/vars';

.cover-wrapper {
  position: relative;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  aspect-ratio: 1/1;
  background-color: $bg-color-secondary-hover;
}

.image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgb(255 255 255 / 50%);
}

