@import "src/styles/vars";
.playlist__filters {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: start;
  white-space: nowrap;
  line-height: 1.2;
  font-size: 14px;
}
.playlist__filters_filter-title {
  &:not(:last-child):after {
    content: ", "
  }
  color: rgba(255, 255, 255, 0.8);
}