@import 'src/styles/vars';


.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $modal-Z_layer;
}

.popup-modal {
  position: fixed;
  display: flex;
  flex-direction:column;
  width: 100%;
  padding: 10px;
  left: 0;
  bottom: 0;
  gap: 10px;
  border-radius: 20px 20px 0 0;
  background: rgb(82 82 82 / 50%);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(2.6px);
  transition: all .4s ease-in;
  z-index: $modal-Z_layer + 1;
}

.track-info-mobile-about-wrapper {
  display: flex;
  flex-direction: row;
};

.track-info-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  justify-content: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  overflow: hidden;
  white-space: nowrap;
};

.track-info-back-button {
  display:flex;
  flex-grow:1;
  justify-content:end;
  align-items:center;
  color:var(--font-color-main);
  margin-right:10px;
};

.track-info-mobile-control-button {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  height: 40px;
  width: 100%;
  gap: 10px;
  background-color: var(--bg-color-secondary_hover);
  color: var(--font-color-main);
  border-bottom: 1px solid rgba(178, 174, 174, 0.19);
}

.track-info-mobile-control-button:last-child {
  border: none;
}

.track-info-mobile-control-button.artist {
  height: auto;
  padding: 5px;
}