@import-normalize;
:root {
    --font-color-main: #ffffff;
    --bg-color-main: rgba(0, 0, 0, 0.5);
    --bg-color-secondary: rgba(255, 255, 255, 0.08);
    --bg-color-secondary_hover: rgba(255, 247, 247, 0.19);
    --font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;

}
html,body {
    margin: 0;
    padding: 0;
    background-color: rgba(10, 10, 10);
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    height: 1px;
    width: 6px;
}
*::-webkit-scrollbar-track {
    background-color: rgba(73, 73, 73, 0.11);
}


*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.18);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-color-secondary_hover);
}


* {
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

@keyframes blur-pulse {
    0%{
        backdrop-filter: blur(1px);
    }
    50% {
        backdrop-filter: none;
    }
    100% {
        backdrop-filter: blur(1px);
    }
}
@keyframes eq-updown {
    0% {
    //height: 20px;
        transform: scaleY(1);
    }
    50% {
    //height: 3px;
        transform: scaleY(.5);
    }
    100% {
    //height: 20px;
        transform: scaleY(1);
    }
}

@keyframes heartPulse {
    0%{
        scale: 1;
    }
    25%{
        scale: 1.2;
    }
    50%{
        scale: 1;
    }
    75%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}

@keyframes blur-opacity {
    0% {
        opacity: 0;
        backdrop-filter: blur(0);
    }
    100% {
        opacity: 1;
        backdrop-filter: blur(2px);
    }
}

.eq__bar {
    position: absolute;
    bottom: 0;
    fill: var(--font-color-main);
    opacity:0.9;
    animation-name: eq-updown;
    animation-fill: forwards;
    animation-iteration-count: infinite;
    transform-origin: 8px 16px;
    -webkit-transform-origin: 8px 16px;
    rx:3;
    ry:3;
}

#eq1 {
    animation-duration: 0.5s;
}

#eq2 {
    animation-duration: 1.3s;
}

#eq3 {
    animation-duration: 0.7s;
}

@keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes rotate-180 {
    0%{
        rotate: 180deg;
    }
    100%{
        rotate: 0;
    }
}

@keyframes scale {
    0%{
        scale: 0.5;
    }
    100%{
        scale: 1;
    }
}

@keyframes scale-active {
    0%{
        scale: 0.5;
    }
    100%{
        scale: 1.15;
    }
}

@keyframes bubble-out {
    0%{
        scale: 1;
    }
    50%{
        scale: 0.9;
    }
    100%{
        scale: 1;
    }

}

@keyframes translate {
    0%{
        opacity : 0;
        transform: translate(-250px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes translate-right {
    0%{
        opacity:0;
        transform: translate(250px)
    }
    100%{
        opacity:1;
        transform:translate(0),
    }
}

.main-wrapper {
    display: flex;
    flex-direction: row;
}
.nav-wrapper {
    position: fixed;
    display: flex;
    height: 100%;
    padding-bottom: 80px;
}
.nav-wrapper-mobile {
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    z-index: 99999;
}
.header-wrapper-mobile {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    z-index: 99999;
}
.header-mobile-title {
    font-size: 17px;
    color: var(--font-color-main);
    font-weight: 500;
}

.player-header-mobile-title {
    font-size: 15px;
    color: var(--font-color-main);
    font-weight: 500;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: var(--bg-color-main);
    border-radius: 0 16px 0 0;
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
}
.navbar-mobile {
    padding: 5px;
    width: 100%;
    background: #000000;
    border-top: 1px solid var(--bg-color-secondary_hover);
}
.header-mobile {
    display: flex;
    padding: 5px;
    height: 50px;
    width: 100%;
    border-radius: 0 0 16px 16px;
    transition: background .2s ease-in-out;
}

.header-mobile.dim {
    background: rgba(0, 0, 0, 0.8);
}

.button-wrapper-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.button-wrapper-nav-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.button-wrapper-header-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.button-wrapper-user {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.cover-wrapper {
    position: relative;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    aspect-ratio: 1/1;
    background-color: var(--bg-color-secondary_hover);
}

.navbar-button {
    width: fit-content;
    color: white !important;
}

.navLink-active {
    background-color: var(--bg-color-secondary) !important;
    border-radius: 16px;
    transition: all .4s;
}

.player-primary-button {
    color: white !important;
    padding: 0 5px !important;
    cursor: pointer;
}

.player-primary-button.mobile-main > svg {
    font-size: 4rem !important;
}

.player-primary-button.mobile-secondary > svg {
    font-size: 2.5rem !important;
}

.player-primary-button.mobile-func > svg {
    font-size: 1.5rem !important;
}


.player-primary-button > svg {
    font-size: 1.8rem;
}
.player-primary-buttons-wrapper .play > svg {
    font-size: 2.2rem;
}
.player-primary-buttons-wrapper .play {
    user-focus: none;
    animation: opacity .2s !important;
}

.player-primary-buttons-wrapper .shuffle {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color: white !important;
}

.player-primary-button.shuffle.active > svg{
    color: black !important;
    background-color: white;
}

.player-primary-buttons-wrapper .shuffle > svg{
    font-size: 1.25rem;
    transition: all .4s;
    border-radius: 6px;
}


.player-primary-buttons-wrapper .repeat {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color: white !important;
}

.player-primary-button.repeat.active > svg{
    color: black !important;
    background-color: white;
}

.player-primary-buttons-wrapper .repeat > svg{
    font-size: 1.25rem;
    transition: all .4s;
    border-radius: 6px;
}

.player-primary-seek-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.player-primary-seek-wrapper-mobile {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.player-loader {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.player-primary-trackTime {
    text-align: center;
    margin-bottom: 2px;
    color:white;
    font-size: 12px;
    font-weight: 400;
    min-width: 30px;
}

.page-wrapper {
    margin-left:50px;
    width: 100%;
    padding: 5px;
    margin-bottom: 75px;
    overflow-x: hidden;
    padding: 10px;
}

.page-default {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page-wrapper.mobile {
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 110px;
}

.animated-opacity {
    animation: opacity .6s;
}

.animated-translate {
    animation: translate .3s ease
}

.animated-translate-right {
    animation: translate-right .3s ease
}

.animated-opacity-4ms {
    animation: opacity .4s;
}

.animated-opacity-2ms {
    animation: opacity .2s;
}

.animated-opacity-1ms {
    animation: opacity .1s;
}

.playlist-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.playlist {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
    background: var(--bg-color-secondary);
    border-radius: 16px;
}
.playlist-info-wrapper {
    display: flex;
    flex-direction: column;
    color: var(--font-color-main);
    font-weight: 600;
    width: 100%;
    padding: 15px;
}
.playlist-info-section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.playlist-info-controls{

}
.playlist-cover-wrapper{
    min-width: 200px;
    height: 200px;
}
.playlist-cover-wrapper > img{
    min-width: 200px;
    height: 200px;
}
.playlist-info-title {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin: auto 0;
}

.playlist-info-desc {
    font-size: 13px;
    margin-right: 25px;
    margin-left: 1px;
    /* Обрезка многострочного текста */
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}


.player-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: var(--bg-color-main);
    border-radius: 0 16px 0 16px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(2.6px);
    gap: 40px;
    transition: all .4s ease-in;
}
.player-wrapper-full {
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 100%;
    padding: 20px;
    background: var(--bg-color-main);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(2.6px);
    z-index: 99999;
    transition: background-color .3s ease-in ,transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms !important;
}

.player-full-top-wrapper {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.player-full-bottom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    margin-bottom: 30px;
}

.player-track-cover-wrapper {
    position: relative;
    display: flex;
    min-width: 60px;
    height: 60px;
    border-radius: 14px;
    overflow: hidden;
    background-color: var(--bg-color-secondary_hover);
}

.player-track-cover-wrapper-full{
    display:flex;
    min-width: 250px;
    height: 250px;
    border-radius: 14px;
    overflow: hidden;
    background-color: var(--bg-color-secondary_hover);
    transition: all .2s ease-in-out;
}

.player-track-cover-wrapper-full.active {
    scale: 1.15;
    margin: 10px 20px; 
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgb(255 255 255 / 50%);
}
.image-placeholder > svg {
    size: large;
}

.player-track-cover-row-wrapper-full {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 20px;
    height: 350px;
    justify-content: center;
    align-items: center;
    transition: scale .4s ease-in;
}


.player-track-info-wrapper {
    display: flex;
    flex-direction: row;
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: translate .3s ease;
}

.player-track-info.full {
    flex-grow: 1;
}

.player-full-track-info-wrapper {
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0 20px;
    gap: 10px;
}
.player-track-info-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.player-primary-seek-wrapper-full {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
}

.player-primary-seek-time-full {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.player-track-info.full > .player-track-info-artists-wrapper {
    margin: 0;
}

.player-track-info.full > .player-track-info-artists-wrapper > .track-info-artist-span > * {
    font-size: 17px !important;
}
.player-track-info.full > .player-track-info-title {
    font-size: 20px;
    height: 25px;
}

.player-track-info-wrapper.mobile {
    width: auto;
    flex-grow: 1;
}

.player-track-info {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    justify-content: center;
    color: #ffffff;
    font-weight: 500;
    overflow: hidden;
    text-wrap: nowrap;
}

.player-track-info-artists-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 1px;
}

.player-track-info-title {
    font-size: 20px;
    width: 100%;
    max-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.track-info-artist-span {
    overflow: hidden;
    text-overflow: ellipsis;
}
.player-track-controls {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.player-track-controls-likeButton {
    color: var(--font-color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 100%;
    cursor: pointer;
    margin-right: 10px;
}

.player-track-controls-likeButton-mobile {
    color: var(--font-color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.player-track-controls-border {
    border-right: 1px solid rgba(241, 241, 241, 0.1);
    height: 100%;
}

.player-track-controls-likeButton:active {
    scale: 0.95;
    transition: scale .2s;
}

.heart-pulse {
    animation: heartPulse 1s ease;
}



.player-primary-controls {
    display: flex;
    flex-direction: column;
    justify-self: center;
    flex-grow: 2;
    gap: 5px;
}
.player-primary-controls-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.player-primary-controls-full {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-primary-controls-full .player-primary-buttons-wrapper {
    height: fit-content;
}
.player-secondary-controls {
    display: flex;
    align-items: center;
    width: 30%;
    padding-right: 40px;
}
.player-secondary-controls-full {
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.player-navbar-full {
    position:fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 16px 16px;
    transition: background .2s ease-in-out;
    color: var(--font-color-main) !important;
    padding: 10px 20px;

}
.player-button-row {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.player-volume-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    color: white !important;
    gap: 10px;
}


.player-primary-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.player-primary-buttons-wrapper.mobile {
}
.player-seek {
    padding: 0 !important;
}
.MuiLinearProgress-bar {
    background-color: white !important;
    border-radius: 16px;
}

.MuiLinearProgress-bar {
    background-color: white !important;
    border-radius: 16px;
}


.MuiLinearProgress-colorSecondary {
    color: #f3f2f2 !important;
}

.MuiLinearProgress-root {
    background-color: gray !important;
}
.track-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    background: rgba(255, 255, 255, 0.03);
    transition: all .3s;
    border-radius: 16px;
}

.track-wrapper:not(.track-current):hover {
    background: rgba(255, 255, 255, 0.06);
    transform: translate(5px);
    transition: all .3s;
    cursor: pointer;
}

.track-current:hover {
    background: rgba(255, 255, 255, 0.12);
    cursor: pointer;
}

.track-cover-wrapper {
    position: relative;
    display: flex;
    align-self: center;
    justify-self: center;
    min-width: 50px;
    height: 50px;
    border-radius: 14px;
    overflow: hidden;
    background-color: var(--bg-color-secondary_hover);
    box-shadow: 0 0 5px 3px rgba(44, 44, 44, 0.2);
}
.track-controls-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 0 10px;
    transition: scale .2s;
    gap: 20px;
}
.track-controls-info-time {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color-main);
}
.track-controls-button {
    color: var(--font-color-main);
    transition: scale .4s;
}

.track-controls-button:hover {
    scale: 1.2
}

.track-controls-button:active {
    scale: 1
}

.track-info-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    justify-content: center;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    overflow: hidden;
    white-space: nowrap;
}

.track-current {
    background: rgba(255, 255, 255, 0.1);
    transform: translateX(-5px);

}

.track-info-artists-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 2px;
}
.track-info-title {
    overflow: hidden;
    text-overflow: ellipsis;
}
.track-info-title:hover {
    cursor: text;
}
.track-info-artist {
    font-size: 12px;
    color: #e1e1e1;
    transition: all .4s;
}

.track-info-artist:hover {
    color: #b9b9b9
}

.track-info-artist:not(:last-child)::after {
    content: ",";
}
.track-chart-wrapper {
    display: flex;
    flex-direction: row;
}
.track-chart-position-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    min-width: 50px;
    gap: 10px;
}

.track-chart-position {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: var(--font-color-main);
}
.track-wrapper:hover .track-playing-status {
    opacity: 1;
    backdrop-filter: blur(0.5px);
}
.track-playing-status > svg {
    color: var(--font-color-main) !important;
    stroke: black;
    stroke-width: 0.2px;
    animation: opacity .4s;
}


.track-playing-status {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .4s;
    background: rgba(40, 40, 40, 0.3);
}
.track-playing-status.show {
    opacity: 1;
    backdrop-filter: blur(1px);
}

.songs-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px 15px;
}

.loader-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 45%;
    left: 48%;
    transform: translate(50%,-50%);
    z-index: 9999; */
}
.loader {
    color: var(--font-color-main) !important;
}

.collection-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.collection-user-tracks {
    display:grid;

}
.collection-user-playlists {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.playlist-card-wrapper {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 160px;
    height: 185px;
    border-radius: 10px;
    transition: background .2s;
    overflow: hidden;
    padding: 5px;
}

.playlist-card-wrapper:hover {
    background: rgba(255, 255, 255, 0.3);
}

.playlist-card-image {
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    width: 150px;
    height: 150px;
    pointer-events: none;
}

.playlist-card-image.image-rounded {
    border-radius: 50%;
}

.playlist-card-image > img {
    width: 150px;
    height: 150px;
}

.playlist-card-title-wrapper {
    display: flex;
    align-items: center;
    height: 30px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
}

.playlist-card-title {
    font-size: 14px;
    color: var(--font-color-main);
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 10px;
    font-weight: 600;
    margin: 0 auto;
}

.collection-title {
    color: var(--font-color-main) !important;
    font-size: 30px;
    font-weight: 600;
}

.collection-user-playlists-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    border-radius: 16px;
    transition: all .3s;
}
.homePage-playlists-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 20px;
    align-self: center;
}
.homePage-wrapper {
    padding: 10px;
    width: 100%;
}

.artist-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.artist-cover-wrapper {
    min-width: 200px;
}

.artist-card-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: var(--bg-color-secondary);
    border-radius: 16px;
}

.artist-card-likes-count {
    color: var(--font-color-main);
    font-size: 15px;
    padding-left: 10px;
}

.artist-popular-tracks-grid > * {
    padding: 0 40px;
    display: block;
    gap: 20px;
    column-count: 2;
}

.artist-popular-tracks-grid > * > *:not(:first-child) {
    margin-top: 10px;
}

.artist-popular-tracks-flex > * {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}


.artist-card-name {
    color: var(--font-color-main) !important;
    font-size: 40px
}

.artist-primary {

}
.artist-block-title {
    color: var(--font-color-main);
    font-size: 20px;
    padding: 20px;
}
.artist-info-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    flex-grow: 1;
    color: var(--font-color-main);
    font-weight: 600;
    margin-left: 20px;
    gap: 10px;
}

.album-info-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    flex-grow: 1;
    color: var(--font-color-main);
    font-weight: 600;
    margin-left: 20px;
    gap: 10px;
}

.artist-albums-wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.artist-albums-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
}

.search-results {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.nav-search-input {
    background-color: transparent;
    border: 0;
    color: var(--font-color-main);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    width: 100%;
    padding: 5px 0;
    font-size: 15px;
    font-weight: 400;
    margin-right: 10px;
}

.nav-search-line {
    color: rgb(220, 220, 220);
    margin-left: 5px;
    font-weight: 600;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--bg-color-secondary_hover);
}

.nav-search-block {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-secondary);
    padding: 10px;
    border-radius: 12px;
    gap: 5px;
}

.nav-search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    color: var(--font-color-main);
}

.search-no-search {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: 100%;*/
    /*height: 75dvh;*/
    position: absolute;
    top: 45%;
    left: 43%;
    transform: translate(50%,-50%);
    z-index: 9999;
    color: var(--font-color-main);
}

.search-artist-info {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 180px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    transition: background .2s;
    overflow: hidden;
    padding: 5px;
}

.search-artist-avatar-wrapper > img {
    width: 150px;
    height: 150px;
}

.album-artist-info-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.album-artist-info {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 25px 10px 10px 25px;
    padding-right: 5px;
    gap: 5px;
    transition: background .2s;
}
.album-artist-info:hover {
    background: rgba(255, 255, 255, 0.3);
}
.album-artist-avatar-wrapper {
    position: relative;
    display: flex;
    align-self: center;
    justify-self: center;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 2px;
    overflow: hidden;
    box-shadow: 0 0 5px 3px rgba(44, 44, 44, 0.2);
}

.search-artist-info-name {
    color: var(--font-color-main);
}


.search-artist-info-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.search-artist-info:hover {
    background: rgba(255, 255, 255, 0.3);
}
.album-artist-info-name {
    font-size: 15px;
    font-weight: 500;
    color: var(--font-color-main);
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.album-artist-info-and {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    flex-grow: 1;
}

.playlists-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.queue-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    padding: 10px;
    background: rgba(0,0,0, 0.7);
    border-radius: 10px;
    transition: background .2s;
    z-index: 99999999;
}

.queue-tracks {
    display: flex;
    flex-direction:row;
    width: 100%;
    overflow-y: auto;
    border-radius: 12px;
    margin-top: 10px;
}

.queue-tracks-repeat .songs-wrapper .track-current {
    transition: all 1s;
    outline: 1px solid rgba(255, 255, 255, 0.3);
}

.queue-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

.queue-controls-repeat:not(:first-child) {
    border-left: 1px solid var(--bg-color-secondary_hover);
}
.queue-controls-shuffle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.queue-controls-repeat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.queue-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 25px;
    color: var(--font-color-main);
}

.player-navbar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: var(--font-color-main);
    cursor: pointer;
}

.player-queue-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: var(--font-color-main);
    cursor: pointer;
}
.player-navbar-button.queue > svg {
    font-size: 27px;
}

.player-navbar-button.close > svg {
    font-size: 32px;
}


.player-queue-section {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 80px;
}

.message-wrapper {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 16px;
    background: rgb(255 255 255 / 10%);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(2.6px);
    z-index: 999999999;
    overflow: hidden;
    white-space: nowrap;
}

.message-wrapper.track {
    padding: 5px;
    top: 50%;
}

.message-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.message-cover-animation {
    display: flex;
    position: relative;
}
.message-cover-animation-icon {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius:12px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    backdrop-filter: blur(2px);
    background: rgb(65 65 65 / 14%);
    color: var(--font-color-main);
    animation: blur-opacity .8s ease;
}

.message-track-title {
    text-align: center;
    font-size: 15px;
    color: var(--font-color-main);
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    height: 20px;
    margin: 0 auto;
    margin-top: 5px;
}

.playlist-sign-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    pointer-events: none;
    padding: 10px;
}
.playlist-sign {
    width: 200px;
    height: 200px;
}
.playlist-filter-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 5px;
    max-height: 350px;
}

.playlist-filter-button {
    display: flex;
    width: fit-content(100%);
    justify-content: space-between;
    border-radius: 15px;
    background-color: rgb(255 247 247 / 17%);
    color: white;
    font-size: 15px;
    white-space: nowrap;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s;
}
.playlist-filter-button-amount {
    display: flex;
    background-color: rgba(255, 247, 247, 0.41);
    border-radius: 15px;
    justify-content: center;
    width: auto;
    padding: 0 20px;
}
.playlist-filter-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: var(--font-color-main);
}
.playlist-filter-button-text {
    display: flex;
    margin-right: 10px;
}
.playlist-filter-button-amount-number {
}
.playlist-filter-button:last-child {
    flex-grow: unset;
    justify-self: start;
}

.playlist-filter-button:hover {
     background-color: rgba(255, 247, 247, 0.6);
 }

.playlist-filter-button:active {
    transform: scale(0.95);
}
.playlist-filter-button-active {
    background-color: rgba(255, 255, 255, 0.7)
}

.playlist-filter-button-active:hover {
    background-color: rgba(255, 255, 255, 0.7)
}

.playlist-filter-wrapper::-webkit-scrollbar {
    display: none;
}

.user-card-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: var(--bg-color-secondary);
    border-radius: 16px;
    overflow: hidden;
    gap: 20px;
}

.user-card-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-card-title {
    color: var(--font-color-main);
    font-size: 40px;
    font-weight: 500;
}

.track-info-mobile {
    position: fixed;
    display: flex;
    flex-direction:column;
    width: 100%;
    padding: 10px;
    left: 0;
    bottom: 0;
    gap: 10px;
    border-radius: 20px 20px 0 0;
    background: rgb(82 82 82 / 50%);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(2.6px);
    transition: all .4s ease-in;
    z-index: 99999;
}

.track-info-mobile-about-wrapper {
    display: flex;
    flex-direction: row;
}

.track-info-mobile-cover-wrapper > img {
    width: 75px;
    height: 75px;
}

.track-info-mobile-cover-wrapper {
    min-width: 75px;
    height: 75px;
    border-radius: 12px;
    overflow: hidden;
}

.track-info-mobile-controls-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow:hidden;
    border-radius: 12px;
}

.track-info-mobile-controls-wrapper::-webkit-scrollbar {
    display: none;
}

.track-info-mobile-control-button {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    height: 40px;
    width: 100%;
    gap: 10px;
    background-color: var(--bg-color-secondary_hover);
    color: var(--font-color-main);
    border-bottom: 1px solid rgba(178, 174, 174, 0.19);
}

.track-info-mobile-control-button:last-child {
    border: none;
}

.track-info-mobile-control-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.track-info-mobile-control-label {
    font-size: 13px;
    font-weight: 600;
}
.track-info-mobile-similar-tracks {
    display: flex;
    overflow: scroll;
    align-items:center;
    width:100%;
    margin:0;
}

.track-info-mobile-similar-tracks > .songs-wrapper > .track-wrapper {
    padding: 0;
    width: calc(100%);
}

.track-info-mobile-similar-tracks::-webkit-scrollbar {
    display: none;
}

.track-info-title.mobile {
    text-wrap:wrap;
    overflow:visible;
}
.track-info-back-button {
    display:flex;
    flex-grow:1;
    justify-content:end;
    align-items:center;
    color:var(--font-color-main);
    margin-right:10px;
}
.track-info-back-button > svg  {
    transition: all .3s ease;
    font-size: 35px; 
}
.track-info-artist-info{
    display:flex;
    gap:10px;
    width:100%;
    align-items:center;
    margin-top : 5px;
}
.track-info-artist-avatar-wrapper{
    width: 35px;
    height:35px;
    border-radius: 12px;
    overflow: hidden;
}
.track-info-artist-avatar-wrapper > img {
    width: 35px;
    height: 35px;
}
.track-info-artists-title{
    display: flex;
    justify-content: center;
    color: var(--font-color-main);
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--font-color-main);
    width: 90%;
}
.track-info-artists-title-wrapper{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.track-info-artist-info-name{
  font-size:13px;
  font-weight:600;
  color: var(--font-color-main);
}

.queue-mobile {
    position: fixed;
    max-height: 100%;
    min-height: 45%;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(2.6px);
    z-index: 99999;
}

.queue-mobile-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

.playlist-filter-info {
    display: flex;
    justify-content: end;
    align-items: center;
}

.devLog {
    outline: none;
    box-sizing: border-box;
    padding: 5px;
    height: 600px;
    width: 100%;
    resize: vertical;
    overflow: auto;
    font: var(--font);
    color: var(--font-color-main);
    background: #000;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 12px;
}

.page-header-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
}
.page-header-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--font-color-main);
    height: 100%;
    padding: 10px;
    background-color: var(--bg-color-secondary);
    background: linear-gradient(45deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .595) 6.67%, rgba(0, 0, 0, .579) 13.33%, rgba(0, 0, 0, .551) 20%, rgba(0, 0, 0, .512) 26.67%, rgba(0, 0, 0, .461) 33.33%, rgba(0, 0, 0, .401) 40%, rgba(0, 0, 0, .334) 46.67%, rgba(0, 0, 0, .266) 53.33%, rgba(0, 0, 0, .199) 60%, rgba(0, 0, 0, .139) 66.67%, rgba(0, 0, 0, .088) 73.33%, rgba(0, 0, 0, .049) 80%, rgba(0, 0, 0, .021) 86.67%, rgba(0, 0, 0, .005) 93.33%, transparent);
}

.page-header-info-title {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 0.8;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.page-header-info-desc {
    font-size: 15px;
    font-weight: 500;
    margin-right: 25px;
    margin-left: 5px;
    /* Обрезка многострочного текста */
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.page-header-info-controls {
    display: flex;
    align-items: center;
    color: var(--font-color-main);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
}

.page-header-image-wrapper {
    display: flex;
}

.page-header-image-wrapper > img {
    width: 100%;
    aspect-ratio: 1/1;
    transform: translate(0, -10%);
}



@media (max-width: 575px) {
    * {
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    }
    .album-info-wrapper {
        padding: 10px;
        margin: 0;
    }
    .album-artist-info-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .artist-popular-tracks-flex > * {
        padding: 0;
    }
    .artist-card-name {
        font-size: 25px;
    }
    .player-wrapper {
        border-radius: 0;
        backdrop-filter: none;
        background-color: rgba(0, 0, 0, 1);
    }
    .player-track-cover-wrapper {
        min-width: 50px;
        height: 50px;
    }
    .player-track-info-title {
        font-size: 15px;
    }
    .playlist-info-title {
        font-size: 20px;
    }
    .player-track-controls-likeButton {
        min-width: unset;
        margin: 0;
    }
    .playlist {
        height: auto;
    }
    .playlist-cover-wrapper {
        min-width: 150px;
        height: 150px;
    }
    .playlist-cover-wrapper > img {
        height: 150px;
        min-width: 150px;
        aspect-ratio: 1/1;
    }
    .playlist-filter-button {
        padding: 5px;
        border-radius: 12px;
    }
    .track-wrapper {
        border-radius: 14px;
        padding:2.5px;
    }
    .track-wrapper:not(.track-current):hover {
       transform: none;
       background-color: inherit;
    }
    .track-wrapper:not(.track-current):hover {
        background-color: transparent;
    }
    .track-cover-wrapper {
        min-width: 45px;
        height: 45px;
        border-radius: 12px;
    }
    .track-wrapper:not(.track-current) .track-playing-status{
        display:none;
    }
    .track-wrapper:hover .track-playing-status {
        backdrop-filter: none;
    }
    .track-wrapper:hover .track-playing-status:not(.show) {
        opacity:0;
    }
    .track-playing-status.show{
        backdrop-filter: none;
    }
    .track-info-wrapper {
        font-size: 14px;
    }
    .track-info-artist {
        font-size: 12px;
    }
    .track-controls-button.like {
        display: none;
    }
    .track-controls-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0;
        margin:0;
    }
    .track-controls-info-time {
        display: none;
    }
    .track-controls-wrapper {
        padding: 0;
    }
    .track-wrapper:not(.track-current) {
        background-color: transparent;
    }
    .track-current {
        transform: none;
        background: rgba(255,255,255,0.1);
    }
    .songs-wrapper {
        padding:0;
        gap: 10px
    }
    .playlist-filter-button:hover {
        background-color: rgb(255 247 247 / 17%);
    }
    .playlist-filter-button:active {
        transform: none;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (hover: hover) {

}
@media (hover: none) {

}