html,body {
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
}
* {
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}
.main-wrapper {
    display: flex;
    flex-direction: row;
}
.nav-wrapper {
    position: fixed;
    display: flex;
    height: 100%;
    padding-bottom: 74px;
}
.navbar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: rgba(255, 255, 255, 0.01);
    border-radius: 0 16px 0 0;
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
}
.button-wrapper-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.button-wrapper-user {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}


.navbar-button {
    width: fit-content;
    color: white !important;
}
.player-primary-button {
    color: white !important;
    padding: 0 5px !important;
}
.player-primary-button > svg {
    font-size: 2rem;
}
.play > svg {
    font-size: 2.5rem;
}
.play {
    user-focus: none;
}
.page-wrapper {
    display: flex;
    margin-left:50px;
    width: 100%;
    padding: 10px;
    margin-bottom: 70px;
}
.playlist-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.playlist-card {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
}

.player-wrapper {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
        background: rgba(255, 255, 255, 0.01);
        border-radius: 0 16px 16px 16px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(2.6px);
}
.player-track-info {
    width: 30%;
}
.player-primary-controls {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}
.player-secondary-controls {
    width: 30%;
}
.player-primary-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.player-seek {
    padding: 0 !important;
}
.MuiLinearProgress-bar {
    background-color: white !important;
    border-radius: 16px;
}

.MuiLinearProgress-bar {
    background-color: white !important;
    border-radius: 16px;
}


.MuiLinearProgress-colorSecondary {
    color: #f3f2f2 !important;
}

.MuiLinearProgress-root {
    background-color: gray !important;
}
.track-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    transition: all .4s;
}

.track-cover-wrapper {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 50px;
    height: 50px;
    border-radius: 14px;
    overflow: hidden;
}
.track-info-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    justify-content: center;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.track-current {
    background: rgba(255, 255, 255, 0.1);
    transform: translateX(-5px);
}

.track-info-artists-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 2px;
}
.track-info-title {
}
.track-info-artist {
    font-size: 13px;
}
.track-info-artist:not(:last-child)::after {
    content: ",";
}

.songs-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

